.logo{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 690px;
    top:60px;
}
.header{
  background-color: #f5f5f5;
  margin-bottom: 30px;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.header a{
  color: rgb(223, 18, 18);
  padding-left: 0.05em;
  padding-right: 0.05em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.nav{
  font-family: 'Courier New', monospace;
  color: rgb(237, 241, 2);
  display:inline;
  margin: 20px;
  background-color: transparent;
  text-decoration: none;
  size: 50px;
}

.socialmedia{
  size: 10px;
  position: absolute;
  top: 0.2em;
  right: 1em;
}
#socialmedia{
  float: right ;
}

#about{
  background-color:white;
  text-align: left;
  margin: -30px;
  padding: 100px;
  font-family: 'Courier New', monospace;
  font-size: 15px;
 }
 #about .me {
  font-family: 'Courier New', monospace;
  font-size: 50px;
  text-align: center;
}
#about p{
  font-family: 'Courier New', monospace;
  font-size: 20px;
  text-align: center;
}

 #about p{
  font-family: 'Courier New', monospace;
  font-size: 30px;
 }
 #about img {
   height: 120px;
   width: 120px;
   border-radius: 50%;
   position: absolute;
   top: 100px;
   left: 100px;
 }
  .headers{
    font-family: 'Courier New', monospace;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 90px;
    right: 630px;

  }
  .logo2{
    height: 120px;
    width: 120px;
    color: gray;
    align-items: center;
}


/*Technology Section*/
.tech{
  background-color: #C38D9E;
  margin: -30px;
  text-align: center;
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.tech p {
  font-family: 'Courier New', monospace;
  font-size: 40px;
}
/*Education section*/
.education{
  background-color: #E8A87C;
  text-align: left;
  margin: -30px;
  padding: 100px;
}
.education p {
  font-family: 'Courier New', monospace;
  font-size: 30px;
}

/*Split the eduaction section into 2 sections*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  border: 10px;
  border-color: aqua;

}

/*Project section*/
.projects{
  background-color: tomato;
  margin: -30px;
  text-align: center;
  padding-left: 8em;
  padding-right: 8em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-image: linear-gradient(180deg, white, black, white);
  
}
.projects p {
  font-family: 'Courier New', monospace;
  font-size: 40px;
}
/*Add black and white to the images*/
.projects img{
  border-radius: 50%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.projects img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
